# Environment variables
.env
.env.local
.env.prod
.env.dev
.env.test

# Database
*.db
*.db-journal

# Logs
*.log
logs/
*.out

# pycache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Documentation
docs/_build/

# Virtual environments
venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# config
app/core/config/config.toml

# spider
spider/data*

# python pkg
pkg/

# test code
tests/
debug*