--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
fastapi
uvicorn[standard]
pydantic
pydantic-settings
tortoise-orm[asyncpg]
langchain
langchain-text-splitters
langchain-milvus
langchain-ollama
langchain-openai
openai
pymilvus
transformers
python-dotenv
tomli
httpx
loguru
rich
xmltodict